{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% if carts %}
        <!-- Start Cart  -->
        <div class="cart-box-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-main table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Assignment</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if user.is_authenticated %}
                                    {% for cart in carts %}
                                        <tr>
                                            <td class="thumbnail-img">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    <img class="img-fluid" src="{{ cart.sneakers.image_sneakers.url }}"
                                                         alt=""/>
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {% for cat_relation in cart.sneakers.category_relations.all %}
                                                        {{ cat_relation.categories.category_sneakers }}
                                                    {% endfor %}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {{ cart.sneakers.brand_sneakers }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {{ cart.sneakers.assignment_sneakers }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {{ cart.sneakers.color_sneakers }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {{ cart.selected_size }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {{ cart.sneakers.price_sneakers }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {{ cart.count_cart }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.sneakers.slug %}">
                                                    {{ cart.total_price }}
                                                </a>
                                            </td>
                                            <td class="remove-pr">
                                                <form method="post" action="{% url "add_to_cart" cart.sneakers.slug %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="remove">
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    {% for cart in carts %}
                                        <tr>
                                            <td class="thumbnail-img">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    <img class="img-fluid" src="{{ cart.image_sneakers }}" alt=""/>
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    {{ cart.category }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    {{ cart.brand_sneakers }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    {{ cart.assignment }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    {{ cart.color }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    {{ cart.size }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    $ {{ cart.price }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    {{ cart.count }}
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="{% url 'shop-detail' cart.product_slug %}">
                                                    $ {{ cart.total_price|floatformat:2 }}
                                                </a>
                                            </td>
                                            <td class="remove-pr">
                                                <form method="post" action="{% url "add_to_cart" cart.product_slug %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="remove">
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-lg-6 col-sm-6">
                        <div class="coupon-box">
                            <form action="{% url 'cart' %}" method="GET">
                                <div class="input-group input-group-sm">
                                    <input class="form-control" name="coupon" placeholder="Enter your coupon code"
                                           aria-label="Coupon code" type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-theme" type="submit">Apply Coupon</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="row my-5">
                    <div class="col-lg-8 col-sm-12"></div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="order-box">
                            <h3>Order summary</h3>
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> $ {{ total_price|floatformat:2 }}</div>
                            </div>

                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Coupon Discount</h4>
                                <div class="ml-auto font-weight-bold"> $ {{ coupon }}</div>
                            </div>

                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                {% if total_price_with_discount %}
                                    <div class="ml-auto h5"> $ {{ total_price_with_discount|floatformat:2 }}</div>
                                {% else %}
                                    <div class="ml-auto h5"> $ {{ total_price|floatformat:2 }}</div>
                                {% endif %}
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a>
                    </div>
                </div>


            </div>
        </div>
        <!-- End Cart -->
    {% else %}
        <div class="cart-box-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-main table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Assignment</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                            </table>
                            <h4 class="h4 text-center">
                                Empty carts
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-lg-6 col-sm-6">
                        <div class="coupon-box">
                            <div class="input-group input-group-sm">
                                <input class="form-control" placeholder="Enter your coupon code"
                                       aria-label="Coupon code" type="text">
                                <div class="input-group-append">
                                    <button class="btn btn-theme" type="button">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="update-box">
                            <input value="Update Cart" type="submit">
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-lg-8 col-sm-12"></div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="order-box">
                            <h3>Order summary</h3>
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> $ 0</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Coupon Discount</h4>
                                <div class="ml-auto font-weight-bold"> $ 0</div>
                            </div>


                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> $ 0</div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

{% endblock content %}