{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Services</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                        <li class="breadcrumb-item active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Services  -->
    <div class="services-box-main">
        <div class="container">
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>OUR MISSION</h3>
                        <p>Our mission at StepUP is to provide high-quality sneakers that combine style, comfort, and performance, enhancing every customer’s lifestyle.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>OUR VISION</h3>
                        <p>StepUP envisions becoming the leading online sneaker store, renowned for exceptional customer service, innovative products, and a vibrant community.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>OUR PHILOSOPHY</h3>
                        <p>At StepUP, our philosophy is to prioritize customer satisfaction through continuous improvement, innovative designs, and a commitment to excellence.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>At StepUP, we pride ourselves on being a trusted sneaker store. Our customers rely on us for quality and reliability. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p> Our team at StepUP is dedicated to providing professional service. We ensure a seamless shopping experience </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>OUR STORIES</h3>
                        <p>Our stories at StepUP showcase customer experiences, brand milestones, and the journey of how we became a trusted name in sneakers.</p>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/Our_team_5.jpg' %}" alt="Alex" />
                            <div class="team-content">
                                <h3 class="title">Alex</h3> <span class="post">Customer Support Specialist</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Alex is our dedicated Customer Support Specialist at StepUP. He assists customers with inquiries, resolves issues promptly, and ensures a positive shopping experience for everyone.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static "images/Our_team_6.jpg" %}" alt="Emma" />
                            <div class="team-content">
                                <h3 class="title">Emma</h3> <span class="post">Marketing Strategist</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p> Emma is our innovative Marketing Strategist at StepUP. She develops and implements marketing campaigns that increase brand awareness and drive sales, always staying ahead of industry trends. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static "images/Our_team_8.jpg" %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Ryan</h3> <span class="post"> Inventory Manager</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p> Ryan is our meticulous Inventory Manager at StepUP. He manages stock levels, oversees product shipments, and ensures that our inventory is accurate and up-to-date to meet customer demands. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static "images/Our_team_7.jpg" %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Sophia </h3> <span class="post">Social Media Coordinator</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p> Sophia is our creative Social Media Coordinator at StepUP. She curates engaging content, interacts with our online community, and helps to grow our brand’s presence on various social media platforms.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Services -->
{% endblock content %}