{% load static %}
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url "index" %}"><img
                        src="{% static 'images/new_logo-removebg-preview.png' %}" width="86" height="80" class="logo"
                        alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="{% url "index" %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                    <li class="dropdown">
                        <a href="{% url 'shop' %}" class="nav-link dropdown-toggle arrow"
                           data-toggle="dropdown">Product</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'shop' %}">Sporty sneakers</a></li>
                            <li><a href="{% url 'shop' %}">Trendy sneakers</a></li>
                            <li><a href="{% url 'shop' %}">Fashion sneakers</a></li>
                            <li><a href="{% url 'shop' %}">Casual</a></li>
                            <li><a href="{% url 'shop' %}">Athletic footwear</a></li>
                            <li><a href="{% url 'shop' %}">Running shoes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "cart" %}">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'service' %}">Our Service</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "contact-us" %}">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu"><a href="#">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge">{{ badge }}</span>
                    </a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                {% if product %}
                    {% for item in product.values %}
                        <ul class="cart-list">
                            <li>
                                <a href="{% url 'shop-detail' item.product_id %}" class="photo"><img
                                        src='{{ item.image_sneakers }}'
                                        class="cart-thumb" alt=""/></a>
                                <h6><a href="{% url 'shop-detail' item.product_id %}">{{ item.model_sneakers}} </a></h6>
                                <p>{{ item.count }} - <span class="price">${{item.price}}</span></p>
                            </li>
                            {% endfor %}
                            <li class="total">
                                <a href="{% url 'cart' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                                <span class="float-right"><strong>Total</strong>: {{ price }}</span>
                            </li>
                        </ul>
                {% else %}
                    <ul class="cart-list">
                        <h4 class="h4 text-center">
                            Empty carts
                        </h4>
                    </ul>
                {% endif %}
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>